<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
  Index
{% endblock %}

{% block body_block %}
  <h1>Rango says...</h1><br>
  <p>hey there partner!</p>
  <div>
    <strong>Most Liked Categories</strong>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no categories present.</p>
    {% endif %}
  </div>
  <div>
    <strong>Most Liked Pages</strong><br>
    {% if pages %}
    <ul>
      {% for page in pages %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no pages present.</p>
    {% endif %}
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
  </div>

{% endblock %}
